NUXT_PUBLIC_APP_URL=http://localhost:3000
NUXT_PUBLIC_API_BASE_URL=http://api.local.test:8000

NUXT_PUBLIC_SCRIPTS_GOOGLE_MAPS_API_KEY=
NUXT_PUBLIC_SCRIPTS_GOOGLE_ANALYTICS_ID=
NUXT_PUBLIC_SCRIPTS_GOOGLE_TAG_MANAGER_ID=

NUXT_PUBLIC_SALES_IQ_KEY=

NUXT_PUBLIC_WHATSAPP_LINK=