/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap'); */
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand-50: #f8f4fa;
  --color-brand-100: #eedbed;
  --color-brand-200: #dec1df;
  --color-brand-300: #c99bc8;
  --color-brand-400: #b070ae;
  --color-brand-500: #7a3e98;
  --color-brand-600: #673180;
  --color-brand-700: #552769;
  --color-brand-800: #462255;
  --color-brand-900: #3a1e45;
  --color-brand-950: #250d2e;

  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-2xl: 17.14px;
}

html,
body {
  font-family: 'ExpoArabic', ui-sans-serif, system-ui, sans-serif;
}

html {
  @apply max-md:scroll-pt-[64px] scroll-pt-[150px];
}

.container {
  @apply max-w-[94%] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] 2xl:max-w-[1320px] mx-auto;
}

a:not(.static-color) {
  @apply hover:text-brand-500 transition-colors;
}

.router-link-active:not(.static-color),
.router-link-exact-active:not(.static-color) {
  @apply text-brand-500;
}

button:hover {
  cursor: pointer;
}

button:disabled:hover {
  cursor: unset;
}

@import './ckeditor-content.css';
@import './home-shimmer.css';

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
